
@font-face {
  font-family: 'Helvetica';
  src: url('../fonts/Helvetica.woff2') format('woff2'),
      url('../fonts/Helvetica.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica';
  src: url('../fonts/Helvetica-Bold.woff2') format('woff2'),
      url('../fonts/Helvetica-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica';
  src: url('../fonts/Helvetica-Compressed.woff2') format('woff2'),
      url('../fonts/Helvetica-Compressed.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica';
  src: url('Helvetica-BoldOblique.woff2') format('woff2'),
      url('Helvetica-BoldOblique.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica';
  src: url('HelveticaRounded-Bold.woff2') format('woff2'),
      url('HelveticaRounded-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica';
  src: url('../fonts/Helvetica-Light.woff2') format('woff2'),
      url('../fonts/Helvetica-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica';
  src: url('../fonts/Helvetica-Oblique.woff2') format('woff2'),
      url('../fonts/Helvetica-Oblique.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}





* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body{
  background-color:#ffff;
}
.container{
  max-width: 980px;
  padding: 0 15px;
  margin: 0 auto;
 
}
.topnav{
  position: relative;
  background-color: #3d4e5a;
 
  

}
.topnav .container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.left-topnav{
  position: relative;
  display: flex;
  align-items: center;

}
.left-topnav a{

  text-decoration: none;
  font-size: 12px;
line-height: 16px;
color: #ffffff;
font-weight: bold;
font-family: 'Helvetica';
padding: 9px 6px;
}
.left-topnav a:first-child{
  background-color: #ff7500;
  font-size: 13px;
}
.first-letter{
  position: relative;
  text-transform:uppercase;
  font-size: 10px;
}
.second-letter{
  position: relative;
  text-transform: uppercase;
  font-size: 12px;
}
.third-letter{
  font-size: 14px;
  text-transform: uppercase;
}
.left-topnav a:last-child{
  
  font-size: 12px;
  font-weight: 300;
  border-left: 1px solid #fff;

}
.right-topnav{
  position: relative;
  
  display: flex;
  align-items: center;
 
  
}
.right-topnav a{
  position: relative;
  font-size: 12px;
line-height: 12px;
color: #ffffff;
font-weight: 400;
font-family: "Titillium Web";
text-align: center;
text-decoration: none;
border-left: 1px solid #fff;
padding: 7px;
}
.right-topnav a span{
  vertical-align: super;
  margin: 0 5px;
}
.top-arrow{
  position: absolute;
  top: 99%;
  left: 30%;
  z-index: 2;
  
}
.header{
  position: relative;
  background-color: #f4f4f4;
}
.header-top{
  background-color: white;
  padding: 12px 0px;
  border-bottom: 1px solid #e6e5e5;

}

.main-header{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 10px 0px;
}
.logo{
  flex-grow: 1;
  cursor: pointer;
}
.navbar{
  position: relative;
  background-color:#ff7500; 
}
.nav-menu{
  position: relative;
}
.nav-menu ul{
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  list-style: none;
  text-transform: uppercase;
}
.list-item{
  position: relative;
  color: white;
  padding: 12px;
  font-size: 14px;
letter-spacing: 0px;
line-height: 22px;
color: #ffffff;
font-weight: bold;
font-family: "Helvetica";
text-align: center;
filter: drop-shadow(0.07px -0.998px 0px rgba(197,80,66,0.75));
cursor: pointer;
}
.nav-menu .list-item .sub-menu{
  position: relative;
  display: none;

}
.navbar .container{
  padding: 0px 35px;
}
.list-item img{
  color: white;
}
.form{
  position: relative;
}
.form input{
  border:none;
  outline: none;
  padding: 5px;
  border-radius: 50px;
  vertical-align: super;
}
.form button{
  background-color: transparent;
    border: none;
    cursor: pointer;
}
.hero-section{
  position: relative;
  background-image: url(../img/banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 500px;
  
}
.hero-section .container{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 77px 47px 130px;
  justify-content: center;
  min-height: 100%;
}

.hero-section p{
  font-size: 23px;
    letter-spacing: -1px;
    line-height: 28px;
    color: #fd7605;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    text-transform: uppercase;
}
.hero-section p span{
  color: #3d4e5a;
}
.de-tus{
  position: relative;
  font-size: 35px;
  font-weight: 700;
}
.hero-section p .bold-text{
  position: relative;
  font-size: 35px;
  font-weight: 700;
  color: #ff7500;
}
.main-body .cards-wrapper{
  display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin-top: -132px;

}
.cards{
  position: relative;
  background-color: #fd7605;
  text-align: center;
  padding: 30px 0px 8px 0px;
    min-width: 230px;
    
    margin: 0 auto;
    border-bottom: 5px solid #b95707;
}
.cards .card-content{
  position: relative;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
  text-transform: uppercase;
  margin-top: 5px;
  
}

.cards-text{
  font-size: 18px;
letter-spacing: -1px;
line-height: 23px;
color: #ffffff;
font-weight: 400;
font-family: "Titillium Web";
text-align: center;
text-transform: uppercase;

}
.body-content{
  position: relative;
  display: flex;
  
  justify-content: center;
  margin-top: 30px;
 
}
.left-body{
  position: relative;
  max-width: 75%;
}
.asidebar-content{
  position: relative;
  max-width: 25%;
}
.tramites{
  position: relative;
  display: flex;
  
  justify-content: space-between;
  max-width: 100%;
 
}
.tramites .info-box{
 background-color: #ffff;
 padding: 0px 33px;
 text-align: center;
    min-width: 236px;
    border-right: 1px solid transparent;
   
    border-image: url(../img/services-border.png) 1 stretch;
}
.tramites .info-box:last-child{
  border: none;
  background-image: none;
}
.info-box .card-image img{
  position: relative;
  border-radius: 90px;
  margin-top: 15px;
 
}
.info-box .card-image{
  position: relative;
}
.tramites .info-box  h2{
  font-size: 21px;
letter-spacing: 0px;
line-height: 23px;
color: #ff7a19;
font-family: "Titillium Web";
font-weight: 500;
text-transform: uppercase;

text-align: center;
}
.info-box .card-content p{
  font-size: 14px;
letter-spacing: 0px;
line-height: 20px;
color: #454545;
font-family: "Titillium Web";
font-weight: 500;
text-align: center;
margin-top: 15px;
}
.info-box .card-content a{
  color: #fd7605;
  font-family:'helvetica';
  font-weight: 500;
  text-decoration: none;
  
  
}
.info-box .card-content a:hover{
  text-decoration:underline;
}
.info-box .card-image::before{
  
  position: absolute;
  content: url(../img/logo_icon.svg);
  
  right: 30px;
  z-index: 2;
}
.aside{
  position: relative;
  
    border: 1px solid #f2f2f2;
    background-color: #ffffff;
}
.aside .sidebar-body{
  padding: 5px 20px;
}
.aside button:first-child{
  text-decoration: none;
    
    
    background-color: #ff7500;
    padding: 8px;
    border: none;
    
}
.aside-btn{
  display: flex;
  align-items: center;
  
  background-color: rgb(233, 233, 233);
  border: none;
  
}
.aside-btn a,button{
  text-decoration: none;
  color: rgb(250, 248, 248);
  border: none;
  text-decoration: none;
  text-align: center;
  flex-grow: 1;
  font-size: 12px;
  font-family: 'Helvetica';
  line-height: 17px;
  letter-spacing: 0px;
  font-weight: bold;

  
  
}
.aside .aside-btn2{
  color: #454545;
}
.aside  h2{
  font-size: 12px;
  font-family: 'Helvetica';
  line-height: 17px;
  letter-spacing: 0px;
  font-weight: bold;
  color: white;
  background-color: #646464;
  text-align: center;
  padding: 6px;
}
.forms-sidebar label{
  font-size: 14px;
line-height: 31px;
color: #686868;
font-weight: 300;
font-family: 'Helvetica';
}
.forms-sidebar select{
  border:1px solid #b4b3b3;
  outline: none;
  padding:6px 43px;
  appearance: none;
  background:url(../img/arrow.svg);
  background-position: center right;
  background-repeat: no-repeat;
  text-transform: uppercase;
  font-family: 'Helvetica';
  
  font-weight: 300;
}
.forms-sidebar option{
  padding: 5px 94px;
  text-transform: uppercase;
  font-family: 'Helvetica';
 font-weight: 300;
}
.buskar-btn{
  padding: 6px;
  background-color: #ff7500;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  padding: 8px 70px;
  margin-top: 10px;
}
.buskar-btn a{
  text-decoration: none;
  color: #ffff;
}
.forms-sidebar label{
  position: relative;
}
.slider-area{
  position: relative;
  margin-top: 15px;
}
.slider .slick-dotted.slick-slider {
  margin-bottom: 5px;
}
.slider-ads .slick-dotted.slick-slider {
  margin-bottom: 5px;
}
.slider{
  position: relative;
  width: 50%;
}
.slider-content{
  position: relative;
  width: 50%;
  padding: 25px 20px 10px 20px;
}
.slider-area{
  position: relative;
  display: flex;
  align-items: center;
  
}
.slider-content h1{
  font-size: 36px;
line-height: 66px;
color: #fd7605;
font-weight: 600;
font-family: "Titillium Web";
text-decoration: none;
text-transform: uppercase;
}
.slider-content h2{
  position: relative;
  font-size: 14px;
line-height: 13px;
color: #fd7605;
font-weight: bold;
font-family:'Helvetica';
text-transform: uppercase;
text-decoration: none;
}
.slider-content button{
  background-color: #ff7500;
  padding: 10px 40px;
  text-transform: uppercase;
  margin-top: 45px;
}
.slider-content a{
  text-decoration: none;
  color: #ffffff;
  padding: 7px;
}
.slider-content p{
  font-size: 14px;
line-height: 18px;
color: #454545;
font-family:'Helvetica';
font-weight: 600;
text-align: left;
margin-top: 20px;
}

.second-wrapper{
  position: relative;
  background: url(../img/pattern.jpg);
  margin-top: 10px;

}
.second-wrapper .container{
  display: flex;
  
}
.ads-banner{
  position: relative;
  background: url(../img/ad_1.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 150px;
  margin-top: 5px;
}

.slider-ads{
  position: relative;
  margin-top: 5px;
}

.ads-banner2{
  position: relative;
  background: url(../img/ad_2.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 213px;
  margin-top: 5px;

}
.newsletter{
  position: relative;
  padding: 16px 20px;
    background-color: white;
    border: 1px solid #f2f2f2;
    margin-top: 5px;
}
.newsletter h1{
  text-decoration: none;
    text-transform: uppercase;
    font-size: 24px;
    line-height: 46px;
    color: #ff7500;
    font-weight: 700;
    font-family: "Titillium Web";
    text-align: center;
}
.form-news input{
  position: relative;
  padding: 8px;
    border: 1px solid #f2f2f2;
    outline: none;
}
.form-news button{
  padding: 10px 71px;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #ff7500;
  margin-top: 10px;
}
.form-news a{
  text-decoration: none;
    color: white;
}
.asidebar-content .aside-banner img{
  width: -webkit-fill-available;
}
.twitter-post{
  position: relative;
  background: url(../img/twitter_post.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 340px;
  margin-top: 5px;
}
.aside input{
  padding: 5px 25px;
  outline: none;
  border: 1px solid #f2f2f2;
 
  
}
.aside input[type="date"]{
  color: #6e6e6e;
}
.aside input[type="date"]::-webkit-calendar-picker-indicator {
  color: transparent;
  background: none;
  z-index: 1;
}
input[type="date"]:before {
  display: block;
  content: url(../img/calendar.jpg);
  position: absolute;
  right: 18%;
}
.aside .btn-date button{
  text-transform: uppercase;
}
.aside .calender{
  padding-block: 15px;
}
.slider-arrows{
  position: absolute;
    width: 95%;
    top: 45%;
    z-index: 2;
    cursor: pointer;
}
.slider-arrows .next-btn{
  position: absolute;
    left: 100%;
}
.next{
  position: absolute;
  left: 100%;
}
.slider-ads .slick-dots li button{
  width: 12px;
  height: 12px;
  padding: 0px 0px;
  border-radius: 15px;
}

.slider .slick-dots{
  position: absolute;
  top: 0px;
  bottom: 0px;
}
.second-wrapper .asidebar-content .aside{
  margin-top: 7px;
}
.third-wrapper{
  position: relative;
  background-color:#3d4e5a;
  
  

}



.left-section{
  position: relative;
  max-width: 68%;
}
.cards-wrapper2{
  display: flex;
    align-items: center;
    justify-content: space-between;
    
    flex-wrap: wrap;
    
}
.cards-wrapper2 .cards{
  padding: 15px 0px 4px 0px;
  min-width: 33%;
  background-color: #3d4e5a;
  border:none;
  filter: drop-shadow(0 0 9px rgba(41, 58, 50,0.34));
  margin-top: 5px;
  min-height: 173px;
 
}
.third-wrapper .container{
  display: flex;
}
.contact-list{
  list-style: none;
  
}
.right-section{
  border-left: 1px solid #ffff ;
}
.contact-sidebar{
  margin-top: 25px;
}
.contact-info{
  position: relative;
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 17px;
  row-gap: 15px;
  padding-left: 17px;
  padding-block: 20px;
    border-bottom: 1px solid #ffff;
}
.contact-info:last-child{
  border: none;
}
.contact-info .contact-list{
display: grid;
row-gap: 4px;

}
.contact-info .contact-list li a{
  
    text-decoration: none;
    
    font-size: 19px;
    color: #ffffff;
    font-weight: bold;
    font-family: 'Helvetica';
    
}
#info-p{
  position: relative;
  font-size: 13px !important;
  line-height: 18px;
  color: #ffffff;
  font-family: 'Helvetica';
  font-weight: 300 !important;
  
}
#tel{
  position: relative;
  color: #fd7605;
  font-size: 28px;
letter-spacing: -1px;
line-height: 18px;

font-weight: bold;
font-family: 'Helvetica';
}
#info-mail{
  position: relative;
  font-size: 13px !important;
  line-height: 18px;
  color: #ffffff;
  font-family: 'Helvetica';
  font-weight: 300 !important;
  padding-left: 2px;
  text-transform: lowercase;
}
.sponser-wrapper{
  position: relative;
  padding-block: 15px;
}
.sponscer{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer{
  position: relative;
  padding-block: 50px;
  background-color: #fd7605;
  z-index: 1;

}
.footer .container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer .footer-menu{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
}
.primary-links{
  text-decoration: none;
  list-style: none;
  display: flex;
  justify-content: flex-start;
  gap: 30px;
  
}
.secondary-links{
  text-decoration: none;
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  align-items: center;
}
.secondary-links li a{
  text-decoration: none;
  
  font-size: 12px;
letter-spacing: 0px;
line-height: 14px;
color: #f4f4f4;
font-family: "Helvetica Neue";

  
}
.primary-links li a{
  text-decoration: none;
  
  font-size: 12px;
letter-spacing: 0px;
line-height: 14px;
color: #f4f4f4;
font-family: "Helvetica Neue";


}
.footer-logo{
  z-index: 3;
}