
@font-face {
  font-family: 'Helvetica';
  src: url('../fonts/Helvetica.woff2') format('woff2'),
      url('../fonts/Helvetica.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica';
  src: url('../fonts/Helvetica-Bold.woff2') format('woff2'),
      url('../fonts/Helvetica-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica';
  src: url('../fonts/Helvetica-Compressed.woff2') format('woff2'),
      url('../fonts/Helvetica-Compressed.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica';
  src: url('Helvetica-BoldOblique.woff2') format('woff2'),
      url('Helvetica-BoldOblique.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica';
  src: url('HelveticaRounded-Bold.woff2') format('woff2'),
      url('HelveticaRounded-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica';
  src: url('../fonts/Helvetica-Light.woff2') format('woff2'),
      url('../fonts/Helvetica-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica';
  src: url('../fonts/Helvetica-Oblique.woff2') format('woff2'),
      url('../fonts/Helvetica-Oblique.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}





* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body{
  background-color:#ffff;
}
.container{
  max-width: 980px;
  padding: 0 15px;
  margin: 0 auto;
 
}
.topnav{
  position: relative;
  background-color: #3d4e5a;
 
  

}
.topnav .container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.left-topnav{
  position: relative;
  display: flex;
  align-items: center;

}
.left-topnav a{

  text-decoration: none;
  font-size: 12px;
line-height: 16px;
color: #ffffff;
font-weight: bold;
font-family: 'Helvetica';
padding: 9px 6px;
}
.left-topnav a:first-child{
  background-color: #ff7500;
  font-size: 13px;
}
.first-letter{
  position: relative;
  text-transform:uppercase;
  font-size: 10px;
}
.second-letter{
  position: relative;
  text-transform: uppercase;
  font-size: 12px;
}
.third-letter{
  font-size: 14px;
  text-transform: uppercase;
}
.left-topnav a:last-child{
  
  font-size: 12px;
  font-weight: 300;
  border-left: 1px solid #fff;

}
.right-topnav{
  position: relative;
  
  display: flex;
  align-items: center;
 
  
}
.right-topnav a{
  position: relative;
  font-size: 12px;
line-height: 12px;
color: #ffffff;
font-weight: 400;
font-family: "Titillium Web";
text-align: center;
text-decoration: none;
border-left: 1px solid #fff;
padding: 7px;
}
.right-topnav a span{
  vertical-align: super;
  margin: 0 5px;
}
.top-arrow{
  position: absolute;
  top: 99%;
  left: 30%;
  z-index: 2;
  
}
.header{
  position: relative;
  background-color: #f4f4f4;
}
.header-top{
  background-color: white;
  padding: 12px 0px;
  border-bottom: 1px solid #e6e5e5;

}

.main-header{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 10px 0px;
}
.logo{
  flex-grow: 1;
  cursor: pointer;
}
.navbar{
  position: relative;
  background-color:#ff7500; 
}
.nav-menu{
  position: relative;
}
.nav-menu ul{
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  list-style: none;
  text-transform: uppercase;
}
.list-item{
  position: relative;
  color: white;
  padding: 12px;
  font-size: 14px;
letter-spacing: 0px;
line-height: 22px;
color: #ffffff;
font-weight: bold;
font-family: "Helvetica";
text-align: center;
filter: drop-shadow(0.07px -0.998px 0px rgba(197,80,66,0.75));
cursor: pointer;
}
.nav-menu .list-item .sub-menu{
  position: relative;
  display: none;

}
.navbar .container{
  padding: 0px 35px;
}
.list-item img{
  color: white;
}
.form{
  position: relative;
}
.form input{
  border:none;
  outline: none;
  padding: 5px;
  border-radius: 50px;
  vertical-align: super;
}
.form button{
  background-color: transparent;
    border: none;
    cursor: pointer;
}
.hero-section{
  position: relative;
  background-image: url(../img/banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 500px;
  display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 47px 353px;
    justify-content: center;
}

.hero-section p{
  font-size: 23px;
    letter-spacing: -1px;
    line-height: 28px;
    color: #fd7605;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    text-transform: uppercase;
}
.hero-section p span{
  color: #3d4e5a;
}
.de-tus{
  position: relative;
  font-size: 35px;
  font-weight: 700;
}
.hero-section p .bold-text{
  position: relative;
  font-size: 35px;
  font-weight: 700;
  color: #ff7500;
}
.main-body .cards-wrapper{
  display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    margin-top: -132px;

}
.cards{
  position: relative;
  background-color: #fd7605;
  text-align: center;
  padding: 30px 0px 8px 0px;
    min-width: 230px;
    width: 100%;
    margin: 0 auto;
    border-bottom: 5px solid #b95707;
}
.cards .card-content{
  position: relative;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
  text-transform: uppercase;
  margin-top: 5px;
  
}
.cards .card-content:hover{
  text-decoration: underline;
  
}
.cards-text{
  font-size: 20px;
letter-spacing: -1px;
line-height: 23px;
color: #ffffff;
font-weight: 400;
font-family: "Titillium Web";
text-align: center;
text-transform: uppercase;

}
.tramites{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 100%;
  margin-top: 30px;
}
.tramites .info-box{
 background-color: #ffff;
 padding: 10px 15px;
 text-align: center;
    min-width: 236px;
    border-right: 1px solid transparent;
   
    border-image: url(../img/services-border.png) 1 stretch;
}
.info-box .card-image img{
  position: relative;
  border-radius: 90px;
  margin-top: 15px;
 
}
.info-box .card-image{
  position: relative;
}
.tramites .info-box  h2{
  font-size: 20px;
letter-spacing: -1px;
line-height: 23px;
color: #ff7a19;
font-family: "Titillium Web";
font-weight: 500;
text-transform: uppercase;

text-align: center;
}
.info-box .card-content p{
  font-size: 14px;
letter-spacing: 0px;
line-height: 20px;
color: #454545;
font-family: "Titillium Web";
font-weight: 500;
text-align: center;
margin-top: 15px;
}
.info-box .card-content a{
  color: #fd7605;
  font-family:'helvetica';
  font-weight: 500;
  text-decoration: none;
  
  
}
.info-box .card-content a:hover{
  text-decoration:underline;
}
.info-box .card-image::before{
  
  position: absolute;
  content: url(../img/logo_icon.svg);
  
  right: 50px;
  z-index: 2;
}
.aside{
  position: relative;
  
    border: 1px solid;
}
.aside .sidebar-body{
  padding: 15px;
}